<br>
<div class="index large-5 medium-5 large-offset-4 medium-offset-5 columns">
	<div class="panel">
		<h2 class="text-center">login</h2>
		<?= $this->form->create(); ?>
		<?= $this-> form -> input('email'); ?>
		<?= $this-> form -> input('password',array('type'=>'password')); ?>
		<?= $this -> form -> submit('login',array('class'=>'button')); ?>
		<?= $this->form->end(); ?>
	</div>


</div>